.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.spacer {
  flex: 1 auto;
}
.select-section{
  border-bottom: 1px solid white;
}
.font-section{
  font-size: 17px
}
